.card {
    width:25%;
    min-width: 300px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-family: arial;
  padding: 16px;
}

.receipe-title{
    margin:0 14px;
    font-weight: bold;
    font-variant: normal;
    float:left;
}

.price{
    margin:0 14px;
    float:right;
    padding: 3px 4px;
    background-color: #FFDE03;
    color:white;
    border-radius: 5px;
}

.cart{
    display: flex;
    clear: both;
    justify-content: space-around;
    padding: 24px;
}

.cart-icon{
    padding: 11px 16px;
    color:#0336ff;
    cursor: pointer;
}

.cart-button{
background-color: #0336ff;
padding: 12px 16px;
color:white;
border-radius: 4px;
border:none;
cursor: pointer;
}

    